@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald&family=Red+Rose:wght@300;400;500;600;700&family=Roboto:ital,wght@1,100&display=swap');

.container {
  padding: 0 25px;
}

.offset {
  margin-bottom: 80px;
  visibility: hidden;
}

.container span, p{
  font-weight: 600;
  line-height: 25px;
  font-size: 1.2rem;
  color: rgb(126, 120, 120);
}
.container span {
  text-transform: uppercase;
}

.container p {
  margin-top: 60px;
  line-height: 25px;
}

.container .email {
  color: rgb(215, 98, 69);
}

.name {
  text-transform: uppercase;
  font-size: 5rem;
  font-family: 'Oswald';
  font-weight: 600;
  line-height: 100px;
}

.name::after {
  content: ' isaiah';
  color: rgb(215, 98, 69);
}

.social {
  margin-top: 50px;
  display: inline-block;
}

.social img {
  width: 50px;
  margin-right: 15px;
}

@media screen and (min-width: 992px) {
  .container {
    padding: 0 25px;
    /* margin-top: 80px; */
  }
  .offset {
    margin-bottom: 120px;
  }
}