.header {
  width: 100%;
  height: 60px;
  background-color: rgb(215, 98, 69);
  display: flex;
  justify-content: space-between;
  padding: 7px 20px;
  position: fixed;
  top: 0px;
}

.h1 {
  color: rgb(237, 230, 230);
  font-size: 2rem;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header img {
  width: 40px;
  height: 40px;
}

.profilepix {
  display: none;
}

.dropmenu {
  height: 60px;
  background-color: rgb(215, 98, 69);
  height: 235px;
  position: fixed;
  top: -235px;
  width: 100%;
}
.open {
  transform: translateY(295px);
  transition: all .4s;
}
.close {
  transform: translateY(-290px);
  transition: all .8s;
}

@media screen and (min-width: 992px) {
  .header {
    display: none;
  }

  .profilepix {
    margin: 20px auto;
    display: block;
    width: 150px;
    height: 150px;
    border: 1px double rgb(239, 235, 230);
    border-radius: 150px;
  }

  .dropmenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 23%;
    height: 100vh;
    top: 290px;
    text-align: center;
    /* position: fixed; */
  }
}