.container {
  margin-top: 80px;
  padding: 0 25px;
  height: 100vh;
}

.offset {
  margin: 50px 0;
  visibility: hidden;
}

.title {
  text-transform: uppercase;
  font-family: 'Oswald';
  font-size: 3rem;
  font-weight: 600;
  line-height: 100px;
  margin-bottom: 30px;
}