a {
  text-decoration: none;
  display: block;
  padding: 14px 20px;
  font-weight: 700;
  color: rgb(186, 182, 182);
}

a:hover {
  color: rgb(224, 219, 219);
  /* color: black; */
}

a:active {
  color: rgb(255, 255, 255);
}