.link {
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  font-weight: 700;
  color: rgb(197, 188, 188);
}

.link:hover {
  color: rgb(224, 219, 219);
  /* color: black; */
}

.link:active {
  color: rgb(255, 255, 255);
}